<!DOCTYPE html>
<html lang="en">
<div th:replace="/admin/fragments/header">

</div>


<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>





        <div class="content">
            <br/>

            <!-- Example row of columns -->
            <h1> ensemble livre</h1>
            <a href="/admin/livres/ajouter" class="btn btn-primary">ajouter un livre</a>

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>


            <hr>

            <div th:if="${!livres.empty}">
                <table class="table sorting" id="categories">
                    <tr class="home">
                        <th>titre</th>
                        <th>couverture</th>

                        <th>autheur</th>

                        <th>genre</th>

                        <th>annee</th>
                        <th>disponible</th>

                        <th>Editer</th>
                        <th>Supprimer</th>
                        <th>visualiser</th>

                    </tr>
                    <tr th:each="livre: ${livres}" th:id="'id_' + ${livre.id}">
                        <td th:text="${livre.titre}"></td>
                        <td>
                            <img style="width: 70px; height: 70px;" th:src="@{'/livre/' + ${livre.image}}">
                        </td>
                        <td th:text="${autheurs[__${livre.autheursId}__]}"></td>
                        <td th:text="${types[__${livre.typeId}__]}"></td>

                        <td th:text="${livre.annee}"></td>
<!--
                        <td>
                            <img style="width: 100px; height: 100px;" th:src="@{'/livre/' + ${livre.image}}">
                        </td>
                        -->

                        <td th:if="${livre.disponible == 1}">disponible</td>

                        <td th:unless="${livre.disponible ==1}">non disponible</td>

                        <td><a th:href="@{'/admin/livres/editer/' + ${livre.id}}">Editer</a></td>
                        <td><a th:href="@{'/admin/livres/supprimer/' + ${livre.id}}" class="confirmDeletion">supprimer</a></td>

                        <td><a th:href="@{'/admin/livres/historique/' + ${livre.id}}" class="confirmDeletion">visualiser</a></td>

                    </tr>
                </table>
            </div>



            <nav class="mt-3" th:if="${count > perPage}">
                <ul class="pagination">
                    <li class="page-item" th:if="${page > 0}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page-1}__'" class="page-link">precedent</a>
                    </li>
                    <li class="page-item" th:each="number: ${#numbers.sequence(0, pageCount-1)}" th:classappend="${page==number} ? 'active' : ''">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
                    </li>
                    <li class="page-item" th:if="${page < pageCount-1}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page+1}__'" class="page-link">suivant</a>
                    </li>
                </ul>
            </nav>

            <div th:unless="${!livres.empty}">
                <h4>il n y a aucun livre pour le moment</h4>
            </div>


        </div> <!-- /container -->











        <div th:replace="/admin/fragments/footer">


        </div>
    </div>
</body>

</html>
