<!DOCTYPE html>
<html lang="fr">
<div th:replace="/admin/fragments/header">

</div>

<body>

<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>



        <br/><br/><br/><br/>

        <div class="container">

            <!-- Example row of columns -->
            <h1 class="display-2" th:text="'Editer ' + ( ${autheurname} ?: ${autheur.nom} )"> editer un autheur</h1>
            <a href="/admin/autheur" class="btn btn-primary">retourner au menu autheur</a>


            <hr>
            <form th:action="@{/admin/autheur/editer}" method="post" th:object="${autheur}" >



                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">

                    Il y a des erreurs
                </div>

                <div class="form-group">
                    <label for="">nom:</label>
                    <input type="text" class="form-control" th:field="*{nom}" th:value="${autheur.nom}" placeholder="nom autheur">
                    <span class="error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                </div>

                <div class="form-group">
                    <label for="">prenom:</label>
                    <input type="text" class="form-control" th:field="*{prenom}" th:value="${autheur.prenom}" placeholder="prenom autheur">
                    <span class="error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
                </div>


                <input type="hidden" th:field="*{id}" th:value="${autheur.id}">





                <button class="btn btn-danger mb-5">editer</button>

            </form>

        </div>












        <div th:replace="/admin/fragments/footer">


        </div>
    </div>
</body>

</html>
