<!DOCTYPE html>
<html lang="en">
<div th:replace="/admin/fragments/header">

</div>


<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>





        <div class="content">
            <br/>

            <!-- Example row of columns -->
            <h1> autheurs</h1>
            <a href="/admin/autheur/ajouter" class="btn btn-primary">ajouter un autheur</a>

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>


            <hr>

            <div th:if="${!autheurs.empty}">
                <table class="table sorting" id="categories">
                    <tr class="home">
                        <th>Nom</th>
                        <th>prenom</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                    <tr th:each="autheur: ${autheurs}" th:id="'id_' + ${autheur.id}">
                        <td th:text="${autheur.nom}"></td>

                        <td th:text="${autheur.prenom}"></td>


                        <td><a th:href="@{'/admin/autheur/editer/' + ${autheur.id}}">Editer</a></td>
                        <td><a th:href="@{'/admin/autheur/supprimer/' + ${autheur.id}}" class="confirmDeletion">supprimer</a></td>
                    </tr>
                </table>
            </div>


            <nav class="mt-3" th:if="${count > perPage}">
                <ul class="pagination">
                    <li class="page-item" th:if="${page > 0}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page-1}__'" class="page-link">precedent</a>
                    </li>
                    <li class="page-item" th:each="number: ${#numbers.sequence(0, pageCount-1)}" th:classappend="${page==number} ? 'active' : ''">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
                    </li>
                    <li class="page-item" th:if="${page < pageCount-1}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page+1}__'" class="page-link">suivant</a>
                    </li>
                </ul>
            </nav>


            <div th:unless="${!autheurs.empty}">
                <h4>il n y a aucun autheur pour le moment</h4>
            </div>


        </div> <!-- /container -->











        <div th:replace="/admin/fragments/footer">


        </div>
    </div>
</body>

</html>
