<!DOCTYPE html>
<html lang="en">
<div th:replace="/admin/fragments/header">

</div>


<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>

        <div class="content">

            <div th:replace="/admin/fragments/rowone">


            </div>

            <div th:replace="/admin/fragments/rowtwo">


            </div>



            <div th:replace="/admin/fragments/footer">


            </div>
</body>

</html>
