<!DOCTYPE html>
<html lang="fr">
<div th:replace="/admin/fragments/header">

</div>

<body>

<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>



        <br/><br/><br/><br/>

        <div class="container">



            <h1 >ajouter un etudiant</h1>
            <a href="/admin/etudiant" class="btn btn-primary mb-5">retour aux etudiant</a>

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>





            <form method="post" th:object="${etudiant}" th:action="@{/admin/etudiant/ajouter}" enctype="multipart/form-data">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    il y a des erreurs
                </div>


                <div class="form-group">
                    <label for="nom">nom</label>

                    <input id="nom" type="text" class="form-control" th:field="*{nom}" placeholder="nom">
                    <span class="error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                </div>

                <div class="form-group">
                    <label for="prenom">prenom</label>

                    <input id="prenom" type="text" class="form-control" th:field="*{prenom}" placeholder="prenom">
                    <span class="error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
                </div>

                <div class="form-group">
                    <label for="username">pseudo</label>
                    <input type="password"  th:field="*{username}" class="form-control" id="username" placeholder="Enter password">
                </div>


                <div class="form-group">
                    <label for="pwd">mot de passe</label>
                    <input type="password"  th:field="*{password}" class="form-control" id="pwd" placeholder="Enter password">
                </div>


                <div class="custom-file form-group">
                    <label class="custom-file-label" for="customFile">photo de profil</label>

                    <input type="file" class="custom-file-input" id="customFile"  th:name="file" th:id="file">
                </div>



                <div class="form-group">

                    <label for="classe">classe</label>

                    <select th:field="*{classe}" id="classe" name="classe">
                        <option value="seconde">seconde</option>
                        <option value="premiere">premiere</option>
                        <option value="terminale">terminale</option>
                        <option value="licence1">Licence1</option>
                        <option value="licence2">Licence2</option>
                        <option value="licence3">Licence3</option>
                        <option value="master1">master1</option>
                        <option value="master2">master2</option>

                    </select>


                </div>


                <button class="btn btn-danger mb-5">Ajouter</button>


            </form>











        </div>












        <div th:replace="/admin/fragments/footer">


        </div>
    </div>
</body>

</html>




