<!DOCTYPE html>
<html lang="en">
<div th:replace="/admin/fragments/header">

</div>


<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">

        <div th:replace="/admin/fragments/sidebar">


        </div>

    </div>


    <div class="main-panel">


        <div th:replace="/admin/fragments/navbar">


        </div>





        <div class="content">
            <br/>

            <!-- Example row of columns -->
            <h1> ensemble des commentaire</h1>

            <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"></div>


            <hr>

            <div th:if="${!commentaires.empty}">
                <table class="table sorting" id="categories">
                    <tr class="home">
                        <th>etudiant</th>
                        <th>livre</th>

                        <th>note</th>

                        <th>poste</th>



                    </tr>
                    <tr th:each="commentaire: ${commentaires}" th:id="'id_' + ${commentaire.id}">

                        <!--<td th:text="${etudiants[__${commentaire.idetudiant}__]}"></td> -->
                        <td><a th:href="@{'/admin/etudiant/historique/' + ${commentaire.idetudiant}}" th:text="${etudiants[__${commentaire.idetudiant}__]}"></a></td>


                        <td><a th:href="@{'/admin/livres/historique/' + ${commentaire.idlivre}}" th:text="${livres[__${commentaire.idlivre}__]}"></a></td>




                        <!--
                        <td th:text="${livres[__${commentaire.idlivre}__]}"></td>
-->



                        <td th:text="${commentaire.note}"></td>
                        <td th:text="${commentaire.poste}"></td>





                        <!--
                                                <td>
                                                    <img style="width: 100px; height: 100px;" th:src="@{'/livre/' + ${livre.image}}">
                                                </td>
                                                -->

                    </tr>
                </table>
            </div>



            <nav class="mt-3" th:if="${count > perPage}">
                <ul class="pagination">
                    <li class="page-item" th:if="${page > 0}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page-1}__'" class="page-link">precedent</a>
                    </li>
                    <li class="page-item" th:each="number: ${#numbers.sequence(0, pageCount-1)}" th:classappend="${page==number} ? 'active' : ''">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${number}__'" class="page-link" th:text="${number+1}"></a>
                    </li>
                    <li class="page-item" th:if="${page < pageCount-1}">
                        <a th:href="@{${#httpServletRequest.requestURI}} + '?page=__${page+1}__'" class="page-link">suivant</a>
                    </li>
                </ul>
            </nav>

            <div th:unless="${!livres.empty}">
                <h4>il n y a aucun livre pour le moment</h4>
            </div>


        </div> <!-- /container -->











        <div th:replace="/admin/fragments/footer">


        </div>
    </div>
</body>

</html>
